.health-bar {
  height: 32px;
  width: 30%;
  min-width: 200px;

  border: 4px solid white;
}

.health-bar__points {
  background-color: white;

  height: 100%;
}

@media screen and (max-height: 481px), screen and (max-width: 768px) {
  .health-bar {
    height: 24px;
  }
}