.items-bar {
  display: flex;
  flex-direction: column;

  padding: 30px;
  margin: 0;

  list-style: none;
  user-select: none;
}

.items-bar__item + .items-bar__item {
  margin-top: 10px;
}

.items-bar__action-bar {
  padding: 0;
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .items-bar {
    padding: 15px;
  }
}