.thumb-stick {
    position: relative;

    width: 15vw;
    height: 15vw;

    max-width: 150px;
    max-height: 150px;

    min-width: 120px;
    min-height: 120px;

    box-sizing: border-box;
    border: 4px solid #fff;
    border-radius: 50%;

    touch-action: none;
    
}

.thumb-stick__control {
    position: absolute;
    top: 30%;
    left: 30%;

    width: 40%;
    height: 40%;

    background-color: #fff;
    border-radius: 50%;

    will-change: transform;

    pointer-events: none;
}

.thumb-stick__observer {
    position: fixed;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;
}

@media screen and (max-height: 350px) {
    .thumb-stick {
        width: 110px;
        height: 110px;

        min-width: unset;
        min-height: unset;
    }
}
