.items-bar-desktop {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  list-style: none;
}

.items-bar-desktop__item + .items-bar-desktop__item {
  margin-top: 10px;
}

.items-bar-desktop__action-bar {
  padding: 0;
  text-transform: none;
}
