body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  
  user-select: none;
  -webkit-user-select: none;

  background-color: black;
}

body {
  margin: 0;
}

#root, #ui-root {
  width: 100%;
  height: 100%;
}

#root {
  position: fixed;

  z-index: 1;
}

#ui-root {
  position: fixed;

  z-index: 2;
}
