.game {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  font-family: sans-serif;

  box-sizing: border-box;
  padding: 30px;
}

.game_touch {
  padding: 15px max(15px, env(safe-area-inset-right)) max(15px, env(safe-area-inset-bottom)) max(15px, env(safe-area-inset-left));
}

.ui-root_deadzone .game_touch {
  padding-bottom: 50px;
}

.game_touch * {
  -webkit-tap-highlight-color: transparent;
}

.game__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.game__left-bar {
  flex: 1;
}

.game__fps-meter {
  position: absolute;
}

.game__bars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.game__action-bar {
  align-self: flex-end;
}

.game__overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.game__footer_touch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.game__thumb-stick {
  position: absolute;

  left: max(15px, env(safe-area-inset-left));
  bottom: max(15px, env(safe-area-inset-bottom));
}

.ui-root_deadzone .game__thumb-stick {
  bottom: 50px;
}

.game__control-bar {
  position: relative;
}

.control-bar__button_grab {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -25%;
  left: -25%;
}

.game__main {
  display: flex;
  justify-content: flex-end;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 75%;
  max-width: 400px;

  padding: 30px;

  background-color: #000;
  color: #fff;
}

.dialog__title {
  margin: 0 0 30px 0;
  font-size: 48px;

  text-transform: uppercase;
}

.dialog__description {
  margin: 0 0 40px 0;

  font-size: 24px;
}

.dialog__footer {
  display: flex;
  align-items: center;

  width: 100%;
}

.dialog__button + .dialog__button {
  margin-left: 25px;
}

@media screen and (max-height: 481px), screen and (max-width: 768px) {
  .game:not(.game_touch) {
    padding: 20px;
  }

  .dialog {
    padding: 20px;
  }

  .dialog__title {
    font-size: 36px;
    margin: 0 0 20px 0;
  }

  .dialog__description {
    margin: 0 0 20px 0;
  }

  .dialog__footer {
    flex-direction: column;
  }

  .dialog__button + .dialog__button {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-height: 350px) {
  .game_touch {
    padding: 10px max(10px, env(safe-area-inset-right)) max(10px, env(safe-area-inset-bottom)) max(10px, env(safe-area-inset-left));
  }

  .game__thumb-stick {
    left: max(10px, env(safe-area-inset-left));
    bottom: max(10px, env(safe-area-inset-bottom));
  }

  .dialog {
    height: 100%;
  }
}
