.inventory {
  display: flex;
  flex-direction: column;

  background-color: #000;

  width: 100%;
  max-width: 600px;
  box-sizing: border-box;

  padding: 10px max(10px, env(safe-area-inset-right)) max(10px, env(safe-area-inset-bottom)) max(10px, env(safe-area-inset-left));
}

.inventory__header {
  display: flex;

  height: 60px;
}

.inventory__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  border: 2px solid #fff;

  padding: 10px 15px;
}

.inventory__title {
  margin: 0;

  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.resources {
  display: flex;

  list-style: none;
  padding: 0;
  margin: 0;

  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.resources__item {
  display: flex;
  align-items: center;

  height: 32px;
  padding-left: 37px;

  image-rendering: crisp-edges;
  image-rendering: pixelated;

  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.resources__item + .resources__item {
  margin-left: 10px;
}

.resources__item_heal {
  background-image: url('../../../../media/images/heal-grass.png');
}

.resources__item_ogre {
  background-image: url('../../../../media/images/ogre-grass.png');
}

.resources__item_boom {
  background-image: url('../../../../media/images/boom-grass.png');
}

.inventory__close-button {
  width: 60px;
  height: 60px;

  margin-left: 10px;
}

.inventory__craft-card {
  flex: 1;
}

.inventory__content {
  display: flex;
  flex: 1;

  margin-top: 10px;
}

.recipes {
  padding: 0;
  margin: 0;

  list-style: none;
}

.recipes__item {
  color: #fff;

  font-size: 24px;

  padding: 10px 15px;

  border: 2px solid white;

  cursor: pointer;
}

.recipes__item_selected {
  color: black;
  background-color: white;
}

.recipes__item + .recipes__item {
  border-top: none;
}

.inventory__recipes {
  margin-right: 10px;
}

.inventory__recipes {
  flex: 1;
}

.craft-card {
  display: flex;
  flex-direction: column;
  flex: 1;

  min-height: 360px;

  border: 2px solid #fff;
}

.craft-card__header {
  display: flex;
  justify-content: center;

  padding: 10px;
}

.craft-card__title {
  font-size: 24px;
  color: #fff;

  image-rendering: crisp-edges;
  image-rendering: pixelated;

  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: top center;

  margin: 10px 0 0 0;
  padding-top: 60px;
}

.craft-card__title_heal {
  background-image: url('../../../../media/images/heal-potion.png');
}

.craft-card__title_power {
  background-image: url('../../../../media/images/power-potion.png');
}

.craft-card__description {
  margin: 20px;
}

.craft-card__cost {
  margin: 0 20px 20px 20px;

  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.craft-card__cost_disabled {
  color: #ac3232;
}

.craft-card__cost-value {
  display: inline-block;
  height: 24px;

  padding-left: 30px;

  image-rendering: crisp-edges;
  image-rendering: pixelated;

  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.craft-card__cost-value_heal {
  background-image: url('../../../../media/images/heal-grass.png');
}

.craft-card__cost-value_power {
  background-image: url('../../../../media/images/ogre-grass.png');
}

.craft-card__bonus {
  font-size: 18px;
  color: #fff;

  margin: 5px 0;
}

.craft-card__footer {
  display: flex;
  margin: auto 10px 10px 10px;
}

@media screen and (max-height: 481px), screen and (max-width: 768px) {
  .inventory {
    width: 100%;
    height: 100%;
    max-width: unset;

    padding: 5px max(5px, env(safe-area-inset-right)) max(5px, env(safe-area-inset-bottom)) max(5px, env(safe-area-inset-left));
  }

  .inventory__header {
    height: 38px;
  }

  .inventory__heading {
    padding: 5px 10px;
  }

  .inventory__title {
    font-size: 20px;
  }

  .resources__item {
    height: 24px;
    padding-left: 29px;
    background-size: 24px 24px;
  }

  .resources {
    font-size: 14px;
  }

  .inventory__close-button {
    height: 38px;
    width: 38px;

    margin-left: 5px;
  }

  .inventory__content {
    margin-top: 5px;
  }

  .inventory__recipes {
    margin-right: 5px;
  }

  .recipes__item {
    font-size: 16px;;
  }

  .craft-card {
    min-height: unset;
  }

  .craft-card__header {
    padding: 0;
  }

  .craft-card__title {
    font-size: 16px;

    background-size: 32px 32px;
    padding-top: 40px;
  }

  .craft-card__description {
    margin: 10px;
  }

  .craft-card__cost {
    margin: 0 10px 10px 10px;

    font-size: 14px;
  }

  .craft-card__bonus {
    font-size: 14px;
  }

  .craft-card__button {
    font-size: 16px;
    height: 30px;
  }
}

@media screen and (max-height: 350px) {
  .craft-card__title {
    display: flex;
    align-items: center;

    height: 32px;

    background-position: left;
    padding: 0 0 0 38px;
  }
}
